<h1><%= @group.name %></h1>

<h3>Below are the items you have stored in <%= @group.name %>:</h3>

<ul>
  <% @group.items.each do |item| %>
    <li><a href="/items/<%= item.slug %>"><%= item.name %></li>
  <% end %>
</ul>

<br><br>

<b><a href="/items/new">Add an item</a></b>

<br><br><br>

<footer>
  <a href="/items">Home</a> | <a href="/groups">Categories</a> | <a href="/logout">Log Out</a>
</footer>
