<h1>Log In Below</h1>

<form action="/login" method=POST>
  <label for="username">Username:</label>
  <input type="text" id="username" name="username">
  <label for="password">Password:</label>
  <input type="password" id="password" name="password">
  <button type="submit" value="login">Log In</button>
</form>

<br><br>

New user? Sign up <a href="/signup">here</a>.
