<h1>Create an Account</h1>
<form action="/signup" method="POST">
  <label for="username">Username:</label>
  <input type="text" id="username" name="user[username]">
  <label for="email">Email:</label>
  <input type="text" id="email" name="user[email]">
  <label for="password">Password</label>
  <input type="password" id="password" name="user[password]">
  <button type="submit" value="signup">Sign Up</button>
</form>
