<h3 style="color: #16A085;">
  <% if flash.has?(:message) %>
    <%= flash[:message] %>
  <% end %>
</h3>

<h1>Welcome, <%= current_user.username %>!</h1>
<h3>Below are all of the items you currently have in your home inventory:</h3>

<ul>
  <% @items.each do |item| %>
    <li><a href="/items/<%= item.slug %>"><%= item.name %></li>
  <% end %>
</ul>

<br><br>

<b><a href="/items/new">Add an item</a></b>

<br><br><br>

<footer>
  <a href="/logout">Log Out</a>
</footer>
