<h1><%= current_user.username %>'s Home Inventory</h1>

<h3>Below are all of the items you currently have in your home inventory:</h3>

<ul>
  <% @items.each do |item| %>
    <li><a href="/items/<%= item.slug %>"><%= item.name %></li>
  <% end %>
</ul>

<br><br>

<b><a href="/items/new">Add an item</a></b>

<br><br><br>

<footer>
  <a href="/logout">Log Out</a>
</footer>
