<h3 style="color: #16A085;"><% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %></h3>

<h1>Add an item to your home inventory</h1>
<form action="/items" method="POST">
  <label for="name">Item:</label>
  <input type="text" id="name" name="item[name]">
  <br>
  <label for="cost">Cost: $</label>
  <input type="text" id="cost" name="item[cost]">
  <br>
  <label for="date_purchased">Date Purchased (YYYY-MM-DD):</label>
  <input type="text" id="date_purchased" name="item[date_purchased]">
  <br>
  <label>Select an existing category:</label>
  <br>

  <% @categories.each do |category| %>
    <input type="checkbox" id="<%= category.name %>" name="item[category_ids][]" value="<%= category.id %>"><%= category.name %></input>
    <br>
  <% end %>

  <br><br>
  <!-- should i change naming of category_name to mirror item? -->
  <label for="category_name">And/or create a new category:</label>
  <input type="text" id="category_name" name="category_name">
  <button type="submit" value="add_item">Add Item</button>
</form>

<br><br><br>

<footer>
  <a href="/items">Home</a> | <a href="/logout">Log Out</a>
</footer>
